<nav action="/recibos" method="post">
    <ul>
        <li><a href="https://www.cfe.mx/nuestraempresa/Pages/historia.aspx">Acerca de</a></li>
        <li><a href="/">Pago de Recibo</a></li>
        <li><a href="https://www.cfe.mx/dir_comunicacion/Pages/default.aspx">Contactos</a></li>
    </ul>
</nav>