<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Compañia de Luz</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Compañia de Luz</h1>
            <img src="/img/logo.png" alt="logo.png">

            <%-include('partials/nav.ejs')%>
        </header>
        <section>
            <form id="form" action="/recibos" method="POST">
                <div class="down">
                    <div class="labels">
                        <label>Numero de Recibo</label>
                        <label>Nombre</label>
                        <label>Domicilio</label>
                        <label>Tipo de Servicio</label>
                        <label>Kilowatts Consumidos</label>
                    </div>
                    <div class="inputs">
                        <input type="number" id="num_recibo" name="num_recibo" style="width: 100px; text-align: center;" class="rounded-1" required>
                        <input type="text" id="nombre"  name="nombre" style="width: 250px; text-align: center;" class="rounded-1 " required>
                        <input type="text" id="domicilio" name="domicilio" style="width: 120px; text-align: center;" class="rounded-1 " required>
                        <select type="text" id="tipo" name="tipo">
                            <option value="0">Seleccione Tipo</option>
                            <option value="1">Domicilio</option>
                            <option value="2">Comercial</option>
                            <option value="3">Industrial</option>
                        </select>
                        <input type="number" id="kilowatts" name="kilowatts" style="width: 120px; text-align: center;" class="rounded-1" required>
                    </div>
                </div>     
                <div> 
                    <button id="btnEnviar" type="submit" style="width: 220px;" class="btn border-2 btn-secondary">Enviar Información</button>
                    <button id="btnLimpiar" type="button" style="width: 120px;" class="btn border-2 btn-secondary">Limpiar</button>
                </div>
                
                 
            </form>
        </section>
        <footer>
            <%-include('partials/footer.ejs')%>
        </footer>
    </div>
    
    <script>
        document.getElementById('form').addEventListener('submit', function(event) { 

            var tipo = document.getElementById('tipo').value;
            if (tipo === '0'){
                alert('Porfavor ingrese el tipo de servicio');
                event.preventDefault();
            } 

        });
        

        function limpiar(){
            
            document.getElementById('num_recibo').value = '';
            document.getElementById('nombre').value = '';
            document.getElementById('domicilio').value = '';
            document.getElementById('tipo').value = '0'; 
            document.getElementById('kilowatts').value = ''; 
        }

        document.getElementById('btnLimpiar').addEventListener('click',limpiar);
    </script>
</body>
</html>