<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Recibos</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Compañia de Luz</h1>
            <img src="/img/logo.png" alt="logo.png">
            <%-include('partials/nav.ejs')%>
        </header>
        <section>
            <form action="/recibos" method="post">
                <div class="up">
                    <div class="labels2">
                        <label>Nombre</label>
                        <label>Tipo de Servicio</label>
                        <label>Kilowatts Consumidos</label>
                        <label>Costo por Kilowatts</label>
                    </div>
                    <div class="labels2">
                        <label><%=nombre%></label>
                        <label><%=tipo%></label>
                        <label><%=kilowatts%></label>
                        <label><%=costo%></label>
                    </div>
                    
                </div>
                <div class="down">
                    <div class="labels">
                        <label>SubTotal</label>
                        <label>Impuesto</label>
                        <label>Descuento</label>
                        <label>Total a Pagar</label>
                    </div>
                    <div class="inputs">
                        <div>
                            <%
                                var costo = costo;
                                var kilowatts = kilowatts;

                                var sub_total = kilowatts * costo;
                                var impuesto = sub_total * 0.16;
                                var descuento = 0;

                                if(kilowatts <= 1000){
                                    descuento = sub_total * .1;
                                }

                                else if(kilowatts > 1000 && kilowatts <= 10000){
                                    descuento = sub_total * .2;
                                }

                                else{
                                    descuento = sub_total * .5;
                                }
                                
                                var total_pagar = sub_total + impuesto - descuento;

                                sub_total = sub_total.toFixed(2);
                                impuesto = impuesto.toFixed(2);
                                descuento = descuento.toFixed(2);
                                total_pagar = total_pagar.toFixed(2);

                            %> 
                        </div>

                        <input type="number" name="sub_total" value="<%=sub_total%>" disabled>
                        <input type="number" name="impuesto" value="<%=impuesto%>" disabled>
                        <input type="number" name="descuento" value="<%=descuento%>" disabled >
                        <input type="number" name="total_pagar" value="<%=total_pagar%>" disabled>
                    </div>
                </div>
                              
            </form>
        </section>
        <footer>
            <%-include('partials/footer.ejs')%>
        </footer>
    </div>
      
</body>
</html>