*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    
    flex-direction: column;
    align-items: center;

    width: 45vw;
    height: 90vh;

    border-radius: 1vw;
    background-color: #7EFFD4;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;

    margin-bottom: 2vh;
}

nav{
    display: flex;
    flex-direction: row;

    margin-top: 2vh;
    margin-bottom:-2vh;
    padding: 1vh;
    width: inherit;
    background-color: #333333;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    width: 25vw;
    height: auto;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;

    width:inherit;
}

li{
    cursor: pointer;
    font-size: 1.5vw;
    margin-right: 3vw;
    

}

li:hover{
    transform:scale(1.1);
}

h1{
    text-align: center;
    margin-top: 1vh;
    font-size: 5vh;
    color: black;
    cursor: pointer;
    margin-bottom: 3vh;
}

h4{
    margin-top: 1vh;
    font-size: 3vw;
    color: black;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: inherit;
    background-color: #F0E78C;

    height: inherit;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1vh 1vw;
    width: calc(100% - 10vw);
    border: 1px solid gray;
    border-radius: 20px;
}

.up{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    
}

.labels2{
    display: flex;
    
    justify-content: space-between;
    font-size: 1.5vh;
    font-weight: bold;
}

.down{
    display: flex;
    justify-content: center;
    width: calc(100%);
    height: 20vh;
    margin-bottom: 1vh;
}

.labels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 2vh;
    font-weight: bold;
}

label{
    display: block;
    width: 100%;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    width: 100%;
    font-size: 2vh;
}


select{
    
    width: 10vw;
}

option{
    padding: 5px;
    border-radius: 3px;
    border: 5vw black;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #DC7092;

    padding: 1vh 0;
    width: inherit;
}



